@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.maxW {
  max-width: 1232px;
}

/* .link{
  @apply border-b border-slate-200 hover:text-Blue duration-200;
} */

.hero-header {
  background-image: linear-gradient(90deg, #00214da9, transparent);
  background-position: center;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.shadowcst {
  box-shadow: 15px 15px #34a59f;
}

.swiper-button-next {
  background-image: url("../image/Logo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}

.not-found {
  background-image: linear-gradient(135deg, #304659, transparent),
    url("../image/notfound.jpg");
  background-size: cover;
  background-position: center;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
